// Colors
$dark: #1B1C25;

$gray-4: #727272;
$gray-3: #919191;
$gray-2: #EBECF1;
$gray-1: #F4F4F8;

$primary: #547DEF;

$dark-blue: #1F4068;
$blue: #3B90F8;
$light-blue: #7FDBDA;
$light-green: #ADE498;
$yellow: #EDE682;
$orange: #FEBF63;
$pink: #FE91CA;
$red: #D54062;